.light-medium-contrast {
  --md-sys-color-primary: rgb(108 51 22);
  --md-sys-color-surface-tint: rgb(142 77 46);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(168 99 66);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(88 60 48);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(143 109 95);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(74 67 24);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(125 117 68);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(35 26 22);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(35 26 22);
  --md-sys-color-surface-variant: rgb(244 222 213);
  --md-sys-color-on-surface-variant: rgb(78 64 58);
  --md-sys-color-outline: rgb(108 92 85);
  --md-sys-color-outline-variant: rgb(137 119 112);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 42);
  --md-sys-color-inverse-on-surface: rgb(255 237 231);
  --md-sys-color-inverse-primary: rgb(255 181 149);
  --md-sys-color-primary-fixed: rgb(168 99 66);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(139 75 44);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(143 109 95);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(116 85 72);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(125 117 68);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(100 93 46);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(232 214 208);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 236);
  --md-sys-color-surface-container: rgb(252 234 228);
  --md-sys-color-surface-container-high: rgb(246 229 222);
  --md-sys-color-surface-container-highest: rgb(241 223 216);
}
