/* use metrial theme generator */
:root{
   --md-sys-color-primary: rgb(255 250 247);
   --md-sys-color-surface-tint: rgb(247 188 112);
   --md-sys-color-on-primary: rgb(0 0 0);
   --md-sys-color-primary-container: rgb(251 192 116);
   --md-sys-color-on-primary-container: rgb(0 0 0);
   --md-sys-color-secondary: rgb(255 250 247);
   --md-sys-color-on-secondary: rgb(0 0 0);
   --md-sys-color-secondary-container: rgb(227 198 166);
   --md-sys-color-on-secondary-container: rgb(0 0 0);
   --md-sys-color-tertiary: rgb(244 255 223);
   --md-sys-color-on-tertiary: rgb(0 0 0);
   --md-sys-color-tertiary-container: rgb(190 209 163);
   --md-sys-color-on-tertiary-container: rgb(0 0 0);
   --md-sys-color-error: rgb(255 249 249);
   --md-sys-color-on-error: rgb(0 0 0);
   --md-sys-color-error-container: rgb(255 186 177);
   --md-sys-color-on-error-container: rgb(0 0 0);
   --md-sys-color-background: rgb(24 18 12);
   --md-sys-color-on-background: rgb(237 224 212);
   --md-sys-color-surface: rgb(24 18 12);
   --md-sys-color-on-surface: rgb(255 255 255);
   --md-sys-color-surface-variant: rgb(80 69 57);
   --md-sys-color-on-surface-variant: rgb(255 250 247);
   --md-sys-color-outline: rgb(216 200 185);
   --md-sys-color-outline-variant: rgb(216 200 185);
   --md-sys-color-shadow: rgb(0 0 0);
   --md-sys-color-scrim: rgb(0 0 0);
   --md-sys-color-inverse-surface: rgb(237 224 212);
   --md-sys-color-inverse-on-surface: rgb(0 0 0);
   --md-sys-color-inverse-primary: rgb(61 37 0);
   --md-sys-color-primary-fixed: rgb(255 226 195);
   --md-sys-color-on-primary-fixed: rgb(0 0 0);
   --md-sys-color-primary-fixed-dim: rgb(251 192 116);
   --md-sys-color-on-primary-fixed-variant: rgb(35 19 0);
   --md-sys-color-secondary-fixed: rgb(255 226 195);
   --md-sys-color-on-secondary-fixed: rgb(0 0 0);
   --md-sys-color-secondary-fixed-dim: rgb(227 198 166);
   --md-sys-color-on-secondary-fixed-variant: rgb(34 19 2);
   --md-sys-color-tertiary-fixed: rgb(218 238 189);
   --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
   --md-sys-color-tertiary-fixed-dim: rgb(190 209 163);
   --md-sys-color-on-tertiary-fixed-variant: rgb(12 26 0);
   --md-sys-color-surface-dim: rgb(24 18 12);
   --md-sys-color-surface-dim-op: rgb(24 18 12 / 50%);
   --md-sys-color-surface-bright: rgb(64 56 48);
   --md-sys-color-surface-container-lowest: rgb(19 13 7);
   --md-sys-color-surface-container-lowest-op: rgb(19 13 7 / 60%);
   --md-sys-color-surface-container-low: rgb(33 26 19);
   --md-sys-color-surface-container: rgb(37 30 23);
   --md-sys-color-surface-container-high: rgb(48 41 33);
   --md-sys-color-surface-container-highest: rgb(59 51 43);
}
/* 
html {
   overflow: hidden;
   height: 100%;
}

body {
   overflow: auto;
   height: 100%;
} */

.top-navbar{
   background-color: var(--md-sys-color-surface-container);
}

.nav-link{
   color: var(--md-sys-color-on-surface);
}

.navbar-brand{
   color: var(--md-sys-color-on-surface);
}

.navbar-toggler-icon{
   counter-reset: var(--md-sys-color-on-surface);
}

.home-main{
   width: 100%;
   height: 100vh;
   /* background-color: var(--md-sys-color-background); */
   background:
      /* top, transparent black, faked with gradient */ 
      linear-gradient(
         rgba(0, 0, 0, 0.7), 
         rgba(0, 0, 0, 0.7)
      ),
      /* bottom, image */
      url(../img/bg-1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.home-main *{
   color: var(--md-sys-color-primary);
}

.home-card{
   background-color: var(--md-sys-color-surface-container-lowest-op);
   border-radius: 10px;
}

.home-text{
   font-size: 3rem;
}

.btn-primary{
   background-color: var(--md-sys-color-primary-container);
   color: var(--md-sys-color-on-primary-container);
   border: none;
}

.btn-primary:hover{
   background-color: var(--md-sys-color-inverse-primary);
   color: var(--md-sys-color-on-surface);
   border: none;
}

.main{
   background-color: var(--md-sys-color-surface);
}


.exwork-card{
   background-color: var(--md-sys-color-surface-container-high);
   color: var(--md-sys-color-on-surface);
}

.set-card{
   background-color: var(--md-sys-color-surface-bright);
   color: var(--md-sys-color-on-surface-variant);
}