/* use metrial theme generator */
:root{
   --md-sys-color-primary: rgb(255 187 158);
   --md-sys-color-surface-tint: rgb(255 181 149);
   --md-sys-color-on-primary: rgb(45 12 0);
   --md-sys-color-primary-container: rgb(202 126 91);
   --md-sys-color-on-primary-container: rgb(0 0 0);
   --md-sys-color-secondary: rgb(235 194 177);
   --md-sys-color-on-secondary: rgb(38 17 7);
   --md-sys-color-secondary-container: rgb(173 137 122);
   --md-sys-color-on-secondary-container: rgb(0 0 0);
   --md-sys-color-tertiary: rgb(214 204 147);
   --md-sys-color-on-tertiary: rgb(26 22 0);
   --md-sys-color-tertiary-container: rgb(154 146 94);
   --md-sys-color-on-tertiary-container: rgb(0 0 0);
   --md-sys-color-error: rgb(255 186 177);
   --md-sys-color-on-error: rgb(55 0 1);
   --md-sys-color-error-container: rgb(255 84 73);
   --md-sys-color-on-error-container: rgb(0 0 0);
   --md-sys-color-background: rgb(26 18 14);
   --md-sys-color-on-background: rgb(241 223 216);
   --md-sys-color-surface: rgb(26 18 14);
   --md-sys-color-on-surface: rgb(255 249 248);
   --md-sys-color-surface-variant: rgb(82 68 61);
   --md-sys-color-on-surface-variant: rgb(220 198 190);
   --md-sys-color-outline: rgb(179 159 151);
   --md-sys-color-outline-variant: rgb(146 127 120);
   --md-sys-color-shadow: rgb(0 0 0);
   --md-sys-color-scrim: rgb(0 0 0);
   --md-sys-color-inverse-surface: rgb(241 223 216);
   --md-sys-color-inverse-on-surface: rgb(50 40 36);
   --md-sys-color-inverse-primary: rgb(114 56 26);
   --md-sys-color-primary-fixed: rgb(255 219 204);
   --md-sys-color-on-primary-fixed: rgb(37 8 0);
   --md-sys-color-primary-fixed-dim: rgb(255 181 149);
   --md-sys-color-on-primary-fixed-variant: rgb(92 38 10);
   --md-sys-color-secondary-fixed: rgb(255 219 204);
   --md-sys-color-on-secondary-fixed: rgb(31 12 4);
   --md-sys-color-secondary-fixed-dim: rgb(230 190 173);
   --md-sys-color-on-secondary-fixed-variant: rgb(74 48 36);
   --md-sys-color-tertiary-fixed: rgb(238 227 169);
   --md-sys-color-on-tertiary-fixed: rgb(20 17 0);
   --md-sys-color-tertiary-fixed-dim: rgb(210 199 143);
   --md-sys-color-on-tertiary-fixed-variant: rgb(61 55 12);
   --md-sys-color-surface-dim: rgb(26 18 14);
   --md-sys-color-surface-bright: rgb(66 55 51);
   --md-sys-color-surface-container-lowest: rgb(20 12 9);
   --md-sys-color-surface-container-low: rgb(35 26 22);
   --md-sys-color-surface-container: rgb(39 30 26);
   --md-sys-color-surface-container-high: rgb(50 40 36);
   --md-sys-color-surface-container-highest: rgb(61 51 46); 
}
/* 
html {
   overflow: hidden;
   height: 100%;
}

body {
   overflow: auto;
   height: 100%;
} */

.top-navbar{
   background-color: var(--md-sys-color-surface-container);
}

.nav-link{
   color: var(--md-sys-color-on-surface);
}

.navbar-brand{
   color: var(--md-sys-color-on-surface);
}

.navbar-toggler-icon:focus{
   box-shadow: 0 0 0 white;
}

.nav-button{
   fill: white;
}

.home-main{
   width: 100%;
   height: 100vh;
   /* background-color: var(--md-sys-color-background); */
   background:
      /* top, transparent black, faked with gradient */ 
      linear-gradient(
         rgba(0, 0, 0, 0.7), 
         rgba(0, 0, 0, 0.7)
      ),
      /* bottom, image */
      url(../img/bg-1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.home-main *{
   color: var(--md-sys-color-primary);
}

.home-card{
   background-color: var(--md-sys-color-surface-container-lowest-op);
   border-radius: 10px;
}

.home-text{
   font-size: 3rem;
}

.btn-primary{
   background-color: var(--md-sys-color-primary-container);
   color: var(--md-sys-color-on-primary-container);
   border: none;
}

.btn-primary.disabled{
   background-color: var(--md-sys-color-inverse-primary);
   color: var(--md-sys-color-on-primary-container);
   border: none;
}

.btn-primary:hover{
   background-color: var(--md-sys-color-inverse-primary);
   color: var(--md-sys-color-on-surface);
   border: none;
}

.main{
   background-color: var(--md-sys-color-surface);
}


@keyframes appear-ease {
   from {opacity: 0;}
   to {opacity: 100;}
}

.exwork-card{
   background-color: var(--md-sys-color-surface-container-high);
   color: var(--md-sys-color-on-surface);
   border-radius: 10px;
   /* animation-name: appear-ease;
   animation-duration: 0.5s; */
}

.exwork-head{
   color: var(--md-sys-color-secondary);
}


.sets-table{
   
}

.set-card{
   background-color: var(--md-sys-color-surface-bright);
   color: var(--md-sys-color-on-surface-variant);
   
}

.summary-card{
   border: solid;
   border-color: var(--md-sys-color-inverse-surface);
   border-radius: 10px;
   color: var(--md-sys-color-secondary);
   animation-name: appear-ease;
   animation-duration: 0.5s;
}

.summary-field{
   border-bottom: dotted 1px;
}

.contact-card{
   background-color: var(--md-sys-color-surface-container);
   color: var(--md-sys-color-on-surface);
   padding: 20px 20px 20px 20px;
   margin: 10px 10px 10px 10px;
}

.contact-card-icon{
   width: 20px;
   display: block;
}

.contact-card-icon img{
   width: 100%;
}